*{
	box-sizing: content-box;
}

body {
  margin: 8px;
}

.link {
	color: #1e90ff;
	font-size: 20px;
}

.link:hover {
	color: #800080;
}

p {
	color: #1e90ff;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Sansita Swashed', cursive;;
	text-align: left;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


